.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.81),
            rgba($color-primary-dark, 0.803)),
        url("../img/hero-small.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    /*when screen sizes changing the picture always be set by top*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

    @media only screen and (min-resolution: 192dpi) and (min-width:37.5em),
    //600px

    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:37.5em),
    only screen and (min-width:106.25em) {
        //1700px
        background-image: linear-gradient(to right bottom,
                rgba($color-primary-light, 0.81),
                rgba($color-primary-dark, 0.803)),
            url("../img/hero.jpg");
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }


    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}